# fly.toml app configuration file generated for strapi-cloud-template-blog-3f0dd9f7fb on 2026-01-03T12:12:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'strapi-cloud-template-blog-3f0dd9f7fb'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 1337
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
